/* body.MuiModal-open {
    /* padding-right: 0 !important; */
    
    
    html, body, #root {
    width: 100%;  
    overflow-y: hidden;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  #root {
    overflow-y: auto;
    overflow-x: hidden;
  }

  html::-webkit-scrollbar {
    display: none;
  }